LOG_LEVEL=info
MONGO_URI=mongodb://root:example@localhost:27017/admin

# Si pones GOOGLE_AUTH_ENABLED=false, el login Google estará desactivado y cualquier usuario podrá acceder sin autenticación
GOOGLE_AUTH_ENABLED=true
SESSION_SECRET=your_session_secret
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:4000/auth/google/callback

