.reservation-form {
    margin: auto;
    padding: 0 24px 24px 24px; /* p: 3 (3 * 8px) */
    display: flex;
    flex-direction: column;
    gap: 16px; /* gap: 2 (2 * 8px) */
}
.input-label {
    background: white;
    padding: 0 0.25rem;
}
